@import "variables";

.article-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
        "title rightHalf"
        "belowTitle rightHalf";
    margin: 10px;
    padding: 10px;
    border: 1px solid $secondaryColor;
    border-radius: $standardRadius;
    background: linear-gradient(165deg, white 40%, $primaryColor);
    max-width: 740px;

    .article-card-title {
        grid-area: title;
        font-size: 1.2em;
        padding-bottom: 5px;
        
        a {
            color: $accentColor !important;
            
            &:visited {
                color: $accentColor !important;
            }
        }
    }

    .article-card-byline {
        grid-area: belowTitle;
        padding-left: 10px;
    }

    .article-card-shortline {
        grid-area: rightHalf;
        z-index: 1000;

        .article-card-article-link {
            justify-self: start;
            align-self: start;
        }
    }

    .article-card-background-div {
        grid-area: rightHalf;
        position: relative;
        border-radius: $standardRadius;
        background-repeat: no-repeat;
        background-position: center right;
        width: 127px;
        justify-self: end;
    }
}