@import 'variables';

.article-title-image {
    display: flex;

    h2 {
        align-self: center;
    }

    img {
        margin-left: auto;
        border-radius: $standardRadius
    }
}

.article-data {
    text-align: center;
    margin-top: $articlePaddingBase;
}

.article-audio {
    margin-top: 20px;
    
    audio {
        margin-top: 20px;
        margin: auto;
        border-radius: 10px;
        background-color: $secondaryColor;
    }
}