$primaryColor: #1ee8c0;
$secondaryColor: #1e46e8;
$tertiaryColor: #32e81e;
$accentColor: #e8461e;

$sidebarMargin: 20px;
$articlePaddingBase: 40px; 
$fadeInAnimationSettings: fadeIn 1.25s ease-in 0s both;
$navBarColor: $primaryColor;
$barColor: $secondaryColor;
$standardBackground: #eff0f1;
$secondaryBackground: white;
$navHoverColor: $barColor;
$navLinkColor: $accentColor;
$mainLinkColor: $tertiaryColor;
$visitedLinkColor: $tertiaryColor;

$standardRadius: 10px;