@import 'variables';

.footer {
    grid-area: footer;
    background: $navBarColor;
    text-align: center;
    font-size: 12px;
    padding-top: 15px;
    border-top-left-radius: $standardRadius;
    border-top-right-radius: $standardRadius;

    a {
        text-decoration: none;
        color: $navLinkColor;
        
        &:visited {
        color: $navLinkColor;
        }
    }
}