{% extends "articles/article_card.html" %}

{% block card_title %}
    <a href="{{ series.get_absolute_url }}">{{ series.name }}</a>
{% endblock %}

{% block under_title %}
    {{ series.description }}
{% endblock %}

{% block right_half %}
    {% for article in series.latest_list %}
        <a class="article-card-article-link" href="{{ article.get_absolute_url }}">{{ article.title }}</a>
    {% endfor %}
{% endblock %}

{% block background_div_tags %}
    {% if series.image_thumbnail_transparent %}
        style="background-image: url('{{ series.image_thumbnail_transparent.url }}')"
    {% endif %}
{% endblock %}