<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'articles/css/style.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'articles/js/script.js' %}"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'articles/icons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'articles/icons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'articles/icons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'articles/icons/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'articles/icons/safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  {% block title %}<title>{{ site_title }}</title>{% endblock %}
  {% block head %}{% endblock %}
</head>

<body>
  <div class="gridContainer">

      <div class="nav">
          <div class="navCurrentPage">
              <h2>{% block current_page_name %}{% endblock %}</h2>
          </div>
          <div class="navDiv">
              <ul class="navitems">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{{ about_link }}">About</a></li>
              <li><a href="{{ portfolio_link }}">Portfolio</a></li>
              <li><a href="{% url 'article-list' %}">Articles</a></li>
              <li><a href="{{ wyverns_link }}">Wyverns &amp; Whimsy</a></li>
              </ul>
          </div>
          <button class="hamburger">&#9776;</button>
          <button class="cross">&#735;</button>
      </div> 
    
    {% include "articles/sidebar.html" %}

    {% include "articles/midbar.html" %}

    <div class="content">
      {% block content %}
        <div class="article">
          {% block article %}
            <div class="articleHeader">
              {% block article_header %}{% endblock %}
            </div>
            <div class="articleContent">
              {% autoescape off %}
              {% block article_content %}
              {% endblock %}
              {% endautoescape %}
            </div>
          {% endblock %}
        </div>
      {% endblock %}
      {% block pagination %}
        {% if is_paginated %}
            {% include "articles/pagination.html" %}
        {% endif %}
      {% endblock %}
    </div>

    {% include "articles/footer.html" %}

  </div>
</body>
</html>