<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'articles/css/style.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'articles/js/script.js' %}"></script>
  {% block title %}<title>{{ site_title }}</title>{% endblock %}
  {% block head %}{% endblock %}
</head>

<body>
  <div class="gridContainer">
    <div class="nav">
      <div class="navCurrentPage">
        <h2>{% block current_page_name %}{% endblock %}</h2>
      </div>
      <!--<div class="siteTitle">
        <a href="{% url 'index' %}"><h2>JohnJ.Club</h2></a>
      </div>-->
      <div class="navDiv">
        <ul class="navitems">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{{ about_link }}">About</a></li>
          <li><a href="{{ portfolio_link }}">Portfolio</a></li>
          <li><a href="{% url 'article-list' %}">Articles</a></li>
          <li><a href="{{ wyverns_link }}">Wyverns &amp; Whimsy</a></li>
        </ul>
      </div>
      <button class="hamburger">&#9776;</button>
      <button class="cross">&#735;</button>
    </div>
    
    <div class="sidebar">
      <div class="sidebarContent">
        {% block sidebar %}
          {% block sidebar_top %}
          {% endblock %}
          <h2>Latest Posts:</h2>
          <!--<h4>Welcome to the site!</h4>
          <p>
            <strong>2-1-2018</strong>
          </p> 
          <p>This site is finally up, after lots of hard work...</p>-->
          {% for article in latest_articles %}
            <div class="latest_article_iter">
              <h4><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h4>
              <h5><em><a href="{% url 'series-detail' article.series %}">{{ article.series.name }}</a></em></h5>
              <p class="sidebar_latest_date"><strong>{{ article.date_posted|date:"M. j, Y" }}</strong></p>
              <p>{{ article.shortline }}</p>
            </div>
          {% endfor %}
          {% block sidebar_bottom %}
          {% endblock %}
        {% endblock %}
      </div>
    </div>

    <div class="midbar">
      <div class="midbarContent">
        {% block midbar %}
          <h2>Latest Post ({{ latest_article.date_posted|date:"M. j, Y"}}):</h2>
          <h4><a href="{{ latest_article.get_absolute_url }}">{{ latest_article.title }}</a></h4>
        {% endblock %}
      </div>
    </div>

    <div class="content">
      {% block content %}
        <div class="article">
          {% block article %}
            <div class="articleHeader">
              <h2>{% block article_title %}{% endblock %}</h2>
              {% block article_header %}{% endblock %}
            </div>
            <div class="articleContent">
              {% autoescape off %}
              {% block article_content %}
              {% endblock %}
              {% endautoescape %}
            </div>
          {% endblock %}
        </div>
      {% endblock %}
      {% block pagination %}
        {% if is_paginated %}
          <div class="pagination">
            <span class="page-links">
              {% if page_obj.has_previous %}
                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
              </span>
              {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
            </span>
          </div>
        {% endif %}
      {% endblock %}
    </div>

    <div class="footer">
      {% block footer %}
        {% block footer_top %}{% endblock %}
        <div class="footerContent">
          <div class="copyright">
            <p>Copyright JClubb3 2018</p>
          </div>
          <div class="contact">
            <p>Contact me:</p>
            <p><a href="#">Email</a></p>
            <p><a href="#">Github</a></p>
          </div>
        </div>
        {% block footer_bottom %}{% endblock %}
      {% endblock %}
    </div>

  </div>
</body>
</html>