<div class="footer">
    {% block footer %}
        {% block footer_top %}{% endblock %}
        <div class="footerContent">
        <div class="copyright">
            <p>Copyright &copy; 2018-{% now "Y" %} John J Clubb</p>
        </div>
        <div class="contact">
            <p>Contact me:</p>
            <p><a href="mailto:john@johnj.club">Email</a></p>
            <p><a href="https://github.com/JClubb3">Github</a></p>
            <p><a href="#">LinkedIn</a></p>
        </div>
        </div>
        {% block footer_bottom %}{% endblock %}
    {% endblock %}
</div>