{% extends "articles/series.html" %}

{% load static %}

{% block content %}
    <div class="series-title">
        <h2>{{ series.name }}</h2>
    </div>
    <div class="series-description">
        <em>{{ series.description }}</em>
        {% if series.image %}
            <img src="{{ series.image.url }}">
        {% endif %}
    </div>
    <div class="series-article-iter-holder">
        {% for article in article_list %}
            {% include "articles/article_card_series_detail.html" %}
        {% endfor %}
    </div>
{% endblock %}